img{
    height: 500px;
    width: 500px;
    margin: 0cap;
    display: block;
}
body{
    background-color: blue;
}
.main{
display:flex
}
.submain{
    padding: 30px;
    margin: 50px;
    font-size: normal;
    font-weight: 300;
    border-right: 0ch;
}
